body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a.logo {
    font-size: 20px;
  }
  
  .nav-links {
    float: right;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links li a {
    padding: 14px 16px;
    color: rgb(24, 245, 234);
    text-decoration: none;
  }
  
  .content {
    padding: 20px;
    text-align: center;
  }