<h3> View Students Details</h3>

<div class="container">
    <div>
        <label >
            <b>studentName :</b>
        </label>{{student.studentName}}
    </div>
    <div>
        <label >
            <b>registerNo :</b>
        </label>{{student.registerNo}}
    </div>
    <div>
        <label >
            <b>EmailId :</b>
        </label>{{student.emailId}}
    </div>
    <div>
        <label >
            <b>ContactNo :</b>
        </label>{{student.contactNo}}
    </div>
    <div>
        <button class="btn btn-info" (click)="backToStudentList()">back to studentList</button>
    </div>

</div>
